body {
	background-color: teal;
	text-align: center;
}

.tekst {
	width: 45%;
	margin:-0% auto 0% auto;
}

h1 {
	color:pink;
	font-size: 60px;
	font-family: 'Great Vibes';
	margin-bottom:1.5%;
}

p {
	font-family: 'Indie Flower';
	font-size:20px;
	color:white;
}

img {
	margin:1%;
}