body {
	background-color: indianred;
	
}


img {
	margin: 1% 4.25%;
}

a  {
    text-decoration:none;
    font-size:30px;
    color:indianred;
}

button {
    background:white;
    margin:3% 45%;
   
}