body {
	background-color: indianred;
}

.tuin {
	color:white;
	font-size: 60px;
	font-family: 'Great Vibes';
	margin:1% 40% -6% 40%;
}

img {
	margin:1.5%;
}

a  {
    text-decoration:none;
    font-size:30px;
    color:green;
}

button {
    background:white;
    margin:3% 45%;
   
}